@model IEnumerable<Shop_DT.Models.Role>

@{
    ViewData["Title"] = "Quản lí quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách quyền truy cập</span>
        </nav>
    </div>
</div>

<div class="table-responsive">
    <a class="btn btn-success m-2" asp-area="Admin" asp-controller="AdminRoles" asp-action="Create">Tạo mới</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên quyền</th>
                <th scope="col">Mô tả</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-primary m-2" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId">Xem</a>
                            <a class="btn btn-secondary m-2" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId">Sửa</a>
                            <a class="btn btn-danger m-2" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId">Xóa</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>