@model Shop_DT.Models.Order

@{
    ViewData["Title"] = "Thông tin đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh sách đơn hàng</a>
            <span class="breadcrumb-item active">Cập nhật trạng thái đơn hàng #@Model.OrderId</span>
        </nav>
    </div>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin đơn hàng #@Model.OrderId</h4>
                    <div class="table-responsive">
                        

                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Họ tên:</td>
                                        <td class="text-dark font-weight-semibold">@Model.Customer.FullName</td>
                                    </tr>
                                    <tr>
                                        <td>SĐT:</td>
                                        <td>@Model.Customer.Phone</td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ:</td>
                                        <td>@Model.Customer.Address</td>
                                    </tr>
                                    <tr>
                                        <td>Tổng đơn:</td>
                                        <td>@Model.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày đặt:</td>
                                        <td>@Model.OrderDate</td>
                                    </tr>
                                    <tr>
                                        <td>Trạng thái:</td>
                                        <td>
                                            <form asp-action="Edit" asp-route-id="@Model.OrderId" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input type="hidden" asp-for="OrderId" />
                                                <input type="hidden" asp-for="CustomerId" />
                                                <input type="hidden" asp-for="TotalMoney" />
                                                <input type="hidden" asp-for="OrderDate" />
                                                <input type="hidden" asp-for="PaymentDate" />
                                                <input type="hidden" asp-for="PaymentId" />
                                                <input type="hidden" asp-for="Deleted" />
                                                <div class="row mb-3">
                                                    <div class="col-sm-10">
                                                        <select class="custom-select form-select-sm" id="TransactStatusID" name="TransactStatusID" asp-for="TransactStatus" asp-items="ViewBag.TrangThai">
                                                            <option value="0" disabled selected>Chọn trạng thái</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                            </form>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

