@using PagedList.Core.Mvc
@model IEnumerable<Shop_DT.Models.Order>
@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách đơn hàng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    
                    @*<div class="m-b-10">
                        <input id="keyword" type="text" name="keyword" class="form-control" placeholder="Tìm kiếm sản phẩm" />
                    </div>*@
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                        <th>Trạng thái</th>
                        <th>Tổng tiền</th>
                        <th>Ngày đặt</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.OrderId
                                </td>
                                <td>
                                    <p>@item.Customer.FullName</p>
                                    <p>@item.Customer.Phone</p>
                                </td>
                                <td>@item.TransactStatus.Description</td>
                                <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.OrderDate</td>
                                

                                <td class="text-right">
                                    <a class="btn btn-primary m-2" asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId">Xem</a>
                                    <a class="btn btn-secondary m-2" asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId">Cập nhật trạng thái</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function(){
        jQuery("#txtCatID").change(function(){
            var catID = jQuery(this).children(":selected").attr("value");
            catID = parseFloat(catID);
            $('#txtCatID option')
            .removeAttr('selected');
            $("#txtCatID > [value=" +catID+"]").attr("selected", "true");
            $.ajax({
                url: '/Admin/AdminProducts/Fillter',
                datatype: "json",
                type: "GET",
                data:{
                    CatID : catID
                },
                async: true,
                success: function(results){
                    if(results.status == "success")
                    {
                        window.location.href = results.redirecUrl;
                    }
                },
                error: function(xhr){
                    alert('error');
                }
            });
        });

        $("#keyword").keyup(function(){
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '../Admin/Search/FindOrder/',
                datatype: "json",
                type: "POST",
                data: { keyword : strkeyword},
                async: true,
                success: function(results){
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function(xhr){
                    alert('error');
                }
            });
        });
    });

</script>
}