@model Shop_DT.Models.Customer

@{
    ViewData["Title"] = "Thông tin khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Order> lsOrder = ViewBag.Order;
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Danh sách khách hàng</a>
            <span class="breadcrumb-item active">Thông tin khách hàng @Model.FullName</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="/images/products/@Model.Avatar" alt="">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.FullName</h4>
                <p class="text-muted m-b-0">Code: #@Model.CustomerId</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin cá nhân</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Email:</td>
                                    <td class="text-dark font-weight-semibold">@Model.Email</td>
                                </tr>
                                <tr>
                                    <td>SĐT:</td>
                                    <td>@Model.Phone</td>
                                </tr>
                                <tr>
                                    <td>Ngày sinh:</td>
                                    <td>@Model.BirthDay</td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ:</td>
                                    <td>@*@Model.Location.Name -*@ @Model.Address</td>
                                </tr>
                                <tr>
                                    <td>Ngày tạo:</td>
                                    <td>@Model.CreateDate</td>
                                </tr>
                                <tr>
                                    <td>Ngày đăng nhập cuối:</td>
                                    <td>@Model.LastLogin</td>
                                </tr>
                                <tr>
                                    <td>Trạng thái:</td>
                                    <td>
                                        @if (Model.Active)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Hoạt động</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Đã khóa</div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lịch sử đặt hàng</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Ngày đặt</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (lsOrder != null && lsOrder.Count > 0)
                                {
                                    foreach (var item in lsOrder)
                                    {
                                        <tr>
                                            <td>@item.OrderId</td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.TransactStatus.Description</td>
                                            <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>Chưa có đơn hàng nào!!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

