@model Shop_DT.Models.Category

@{
    ViewData["Title"] = "Xoá danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh sách danh mục</a>
            <span class="breadcrumb-item active">Xóa danh mục</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xóa danh mục : <b>@Model.CatName</b></h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>@Model.CatId</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.CatName</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>
                            @if (Model.Published)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Hiển thị</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Không hiển thị</div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td class="text-dark font-weight-normal">
                            <img width="200" height="200" src="~/images/categories/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@Model.CatId">
                                <input type="hidden" asp-for="CatId" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
