@model IEnumerable<Shop_DT.Models.Category>

@{
    ViewData["Title"] = "Danh sách danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách danh mục</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                   
                    <div class="m-b-10">
                        <input id="keyword" type="text" name="keyword" class="form-control" placeholder="Tìm kiếm danh mục" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary"asp-area="Admin" asp-controller="AdminProducts" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Tạo mới</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Ảnh đại diện</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Mô tả</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}";
                            <tr>
                                <td>
                                    @item.CatId
                                </td>
                                <td>@item.CatName</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="/images/categories/@item.Thumb" style="max-width: 60px" alt="">
                                    </div>
                                </td>
                                <td>@item.Products.Sum(x => x.UnitStock)</td>
                                <td>
                                    @if (item.Published)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Hiển thị</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Không hiển thị</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-primary m-2" asp-area="Admin" asp-controller="AdminCategories" asp-action="Details" asp-route-id="@item.CatId">Xem</a>
                                    <a class="btn btn-secondary m-2" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@item.CatId">Sửa</a>
                                    <a class="btn btn-danger m-2" asp-area="Admin" asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@item.CatId">Xóa</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function(){
        

        $("#keyword").keyup(function(){
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '../Admin/Search/FindCategory/',
                datatype: "json",
                type: "POST",
                data: { keyword : strkeyword},
                async: true,
                success: function(results){
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function(xhr){
                    alert('error');
                }
            });
        });
    });

</script>
}