@model Shop_DT.Models.Account

@{
    ViewData["Title"] = "Xóa tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản quản trị</a>
            <span class="breadcrumb-item active">Xóa tài khoản @Model.FullName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xóa tài khoản: <b>@Model.FullName</b></h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Họ và tên:</td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>SĐT:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Chức vụ:</td>
                        <td>@Model.Role.Description</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Hoạt động</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Đã bị khóa</div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreateDate</td>
                    </tr>
                    <tr>
                        <td>Lần đăng nhập cuối:</td>
                        <td>@Model.CreateDate</td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@Model.AccountId">
                                <input type="hidden" asp-for="AccountId" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

